In [1]:
import pandas as pd

In [2]:
data = pd.read_json('datasets/yelp_academic_dataset_tip.json',  lines=True)

In [4]:
from textblob import TextBlob

In [3]:
!pip install textblob

Collecting textblob
  Using cached textblob-0.17.1-py2.py3-none-any.whl (636 kB)
Requirement already satisfied: nltk>=3.1 in /home/baghiya/miniconda3/envs/py38/lib/python3.8/site-packages (from textblob) (3.8.1)
Requirement already satisfied: joblib in /home/baghiya/.local/lib/python3.8/site-packages (from nltk>=3.1->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /home/baghiya/.local/lib/python3.8/site-packages (from nltk>=3.1->textblob) (2022.9.13)
Requirement already satisfied: tqdm in /home/baghiya/miniconda3/envs/py38/lib/python3.8/site-packages (from nltk>=3.1->textblob) (4.65.0)
Requirement already satisfied: click in /home/baghiya/miniconda3/envs/py38/lib/python3.8/site-packages (from nltk>=3.1->textblob) (8.1.3)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [5]:
def analyze_sentiment(text):
    blob = TextBlob(text)
    polarity = blob.sentiment.polarity
    if polarity > 0:
        sentiment = "Positive"
    elif polarity < 0:
        sentiment = "Negative"
    else:
        sentiment = "Neutral"
    return sentiment

In [9]:
data['Sentiment'] = data['text'].apply(analyze_sentiment)

In [10]:
data.head()

,user_id,business_id,text,date,compliment_count,Sentiment
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0,Neutral
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0,Positive
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0,Neutral
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0,Negative
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0,Positive

In [6]:
data_email = pd.read_csv('datasets/test.csv')

In [7]:
data_email.head()

   id                                         email_body
0   0  Hi Don,\n\n \n\n4pm does not work unfortunatel...
1   1  Sorry, Greg. I’ve been buried this week. I’m d...
2   2  Hey Paul,\n\n \n\nThanks for the time on the c...
3   3  Hi,\n\n \n\nIncluding one of my Admins who wor...
4   4  Hello Momin,\n\n \n\nTo follow up on our last ...

In [8]:
data_email['Sentiment'] = data_email['email_body'].apply(analyze_sentiment)

In [10]:
data_email.head(100)

    id                                         email_body Sentiment
0    0  Hi Don,\n\n \n\n4pm does not work unfortunatel...  Negative
1    1  Sorry, Greg. I’ve been buried this week. I’m d...  Negative
2    2  Hey Paul,\n\n \n\nThanks for the time on the c...  Positive
3    3  Hi,\n\n \n\nIncluding one of my Admins who wor...   Neutral
4    4  Hello Momin,\n\n \n\nTo follow up on our last ...  Positive
..  ..                                                ...       ...
95  95  Sergey, it’s working.  Thanks. Feel free to cl...  Positive
96  96  Hi Dmytrii,\n\nThanks for the links related to...  Negative
97  97  Hi Daryna,\n\n \n\nNo worries – if we stay wit...  Positive
98  98  John, can you send some screen shots of what y...  Negative
99  99  Lyn Pagett is no longer working for Senstar, p...   Neutral

[100 rows x 3 columns]

In [ ]:
# sentimental analysis on email - 
    # dataset will be shared 
    # parse the review  - sentimental analyasis on this text
    
# encoders & decoders 
    # generative ai - 
    # materials will be shared 
    
# computer vision:
    # CNN - 
    # object detection - yolo-v8